In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
import lightgbm as lgb  # LightGBM
from sklearn.metrics import confusion_matrix
from xgboost import XGBClassifier
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from catboost import CatBoostClassifier
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
warnings.filterwarnings("ignore")

In [4]:
def preprocessing_expected(df):
    df['prob_0'] = 100 - df['rainfall_train.v01']
    df['prob_1'] = df['rainfall_train.v01'] - df['rainfall_train.v02']
    df['prob_2'] = df['rainfall_train.v02'] - df['rainfall_train.v03']
    df['prob_3'] = df['rainfall_train.v03'] - df['rainfall_train.v04']
    df['prob_4'] = df['rainfall_train.v04'] - df['rainfall_train.v05']
    df['prob_5'] = df['rainfall_train.v05'] - df['rainfall_train.v06']
    df['prob_6'] = df['rainfall_train.v06'] - df['rainfall_train.v07']
    df['prob_7'] = df['rainfall_train.v07'] - df['rainfall_train.v08']
    df['prob_8'] = df['rainfall_train.v08'] - df['rainfall_train.v09']
    df['prob_9'] = df['rainfall_train.v09']
    df.drop(columns=['rainfall_train.v01',
                    'rainfall_train.v02',
                    'rainfall_train.v03',
                    'rainfall_train.v04',
                    'rainfall_train.v05',
                    'rainfall_train.v06',
                    'rainfall_train.v07',
                    'rainfall_train.v08',
                    'rainfall_train.v09'], inplace=True)
    df = df[df['rainfall_train.vv'] >= 0]
    df["expected"] = (df["prob_0"] * 0\
                    +df["prob_1"] * 1\
                    +df["prob_2"] * 2\
                    +df["prob_3"] * 3\
                    +df["prob_4"] * 4\
                    +df["prob_5"] * 5\
                    +df["prob_6"] * 6\
                    +df["prob_7"] * 7\
                    +df["prob_8"] * 8\
                    +df["prob_9"] * 9) / 100
    df.drop(columns=["prob_0","prob_1","prob_2","prob_3","prob_4","prob_5","prob_6","prob_7","prob_8","prob_9",
                    'Unnamed: 0', 'rainfall_train.fc_year',	'rainfall_train.fc_month',	'rainfall_train.fc_day',	'rainfall_train.fc_hour'
                    ], inplace=True)
    return df

In [6]:
def preprocessing_pivoting(df):
    df["index"] = df["rainfall_train.dh"] // 12
    df["index"].value_counts()
    pivot_df = df.pivot_table(index=['rainfall_train.stn4contest', 
                                    'rainfall_train.ef_year', 
                                    'rainfall_train.ef_month', 
                                    'rainfall_train.ef_day', 
                                    'rainfall_train.ef_hour',
                                    'rainfall_train.vv',
                                    'rainfall_train.class_interval'
                                    ],
                            columns='index',
                            values='expected').reset_index()
    final_df = pivot_df.groupby([
    'rainfall_train.stn4contest', 
    'rainfall_train.ef_year', 
    'rainfall_train.ef_month', 
    'rainfall_train.ef_day', 
    'rainfall_train.ef_hour']).sum().reset_index()
    return final_df

In [11]:
df = pd.read_csv("data/rainfall_train.csv", encoding='utf-8', index_col=False)
df

,Unnamed: 0,rainfall_train.fc_year,rainfall_train.fc_month,rainfall_train.fc_day,rainfall_train.fc_hour,rainfall_train.stn4contest,rainfall_train.dh,rainfall_train.ef_year,rainfall_train.ef_month,rainfall_train.ef_day,...,rainfall_train.v02,rainfall_train.v03,rainfall_train.v04,rainfall_train.v05,rainfall_train.v06,rainfall_train.v07,rainfall_train.v08,rainfall_train.v09,rainfall_train.vv,rainfall_train.class_interval
0,1,A,5,1,9,STN001,3,A,5,1,...,0,0,0,0,0,0,0,0,0.0,0
1,2,A,5,1,9,STN001,6,A,5,1,...,0,0,0,0,0,0,0,0,0.0,0
2,3,A,5,1,9,STN001,9,A,5,1,...,0,0,0,0,0,0,0,0,0.0,0
3,4,A,5,1,9,STN001,12,A,5,1,...,0,0,0,0,0,0,0,0,0.0,0
4,5,A,5,1,9,STN001,15,A,5,2,...,0,0,0,0,0,0,0,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1457247,1457248,C,9,30,21,STN020,228,C,10,10,...,7,2,2,0,0,0,0,0,0.5,3
1457248,1457249,C,9,30,21,STN020,231,C,10,10,...,9,5,3,1,0,0,0,0,0.0,0
1457249,1457250,C,9,30,21,STN020,234,C,10,10,...,9,5,3,1,0,0,0,0,1.9,4
1457250,1457251,C,9,30,21,STN020,237,C,10,10,...,6,4,2,2,0,0,0,0,1.9,4
1457251,1457252,C,9,30,21,STN020,240,C,10,10,...,6,4,2,2,0,0,0,0,1.8,4

In [9]:
df[(df["rainfall_train.stn4contest"] == 'STN001') &
   	(df["rainfall_train.ef_year"] == 'A') &	
    (df["rainfall_train.ef_month"] == 8) & 
    (df["rainfall_train.ef_day"] == 1) &
    (df["rainfall_train.ef_hour"] == 15)
       ]

,Unnamed: 0,rainfall_train.fc_year,rainfall_train.fc_month,rainfall_train.fc_day,rainfall_train.fc_hour,rainfall_train.stn4contest,rainfall_train.dh,rainfall_train.ef_year,rainfall_train.ef_month,rainfall_train.ef_day,...,rainfall_train.v02,rainfall_train.v03,rainfall_train.v04,rainfall_train.v05,rainfall_train.v06,rainfall_train.v07,rainfall_train.v08,rainfall_train.v09,rainfall_train.vv,rainfall_train.class_interval
13275,13276,A,7,22,21,STN001,234,A,8,1,...,84,65,40,24,7,2,0,0,21.3,8
13351,13352,A,7,23,9,STN001,222,A,8,1,...,80,64,43,20,9,2,0,0,21.3,8
13427,13428,A,7,23,21,STN001,210,A,8,1,...,80,62,43,25,7,4,0,0,21.3,8
13503,13504,A,7,24,9,STN001,198,A,8,1,...,92,86,56,38,15,4,0,0,21.3,8
13579,13580,A,7,24,21,STN001,186,A,8,1,...,98,89,60,39,18,3,0,0,21.3,8
13655,13656,A,7,25,9,STN001,174,A,8,1,...,95,92,75,46,25,7,1,0,21.3,8
13731,13732,A,7,25,21,STN001,162,A,8,1,...,90,83,68,45,29,9,0,0,21.3,8
13807,13808,A,7,26,9,STN001,150,A,8,1,...,88,79,63,36,13,5,0,0,21.3,8
13883,13884,A,7,26,21,STN001,138,A,8,1,...,88,81,62,38,18,2,0,0,21.3,8
13959,13960,A,7,27,9,STN001,126,A,8,1,...,93,82,65,43,15,3,1,0,21.3,8
14035,14036,A,7,27,21,STN001,114,A,8,1,...,87,81,66,45,19,8,0,0,21.3,8
14111,14112,A,7,28,9,STN001,102,A,8,1,...,66,40,22,16,8,1,0,0,21.3,8
14187,14188,A,7,28,21,STN001,90,A,8,1,...,47,37,21,13,4,0,0,0,21.3,8
14263,14264,A,7,29,9,STN001,78,A,8,1,...,68,41,26,22,4,0,0,0,21.3,8
14339,14340,A,7,29,21,STN001,66,A,8,1,...,82,66,47,35,12,1,0,0,21.3,8
14415,14416,A,7,30,9,STN001,54,A,8,1,...,88,71,53,39,13,2,0,0,21.3,8
14491,14492,A,7,30,21,STN001,42,A,8,1,...,84,59,41,24,8,0,0,0,21.3,8
14567,14568,A,7,31,9,STN001,30,A,8,1,...,100,98,94,80,23,6,1,0,21.3,8
14643,14644,A,7,31,21,STN001,18,A,8,1,...,100,100,99,94,53,3,0,0,21.3,8
14719,14720,A,8,1,9,STN001,6,A,8,1,...,100,100,99,97,80,16,0,0,21.3,8

In [12]:
df = preprocessing_expected(df)
df

,rainfall_train.stn4contest,rainfall_train.dh,rainfall_train.ef_year,rainfall_train.ef_month,rainfall_train.ef_day,rainfall_train.ef_hour,rainfall_train.vv,rainfall_train.class_interval,expected
0,STN001,3,A,5,1,12,0.0,0,0.00
1,STN001,6,A,5,1,15,0.0,0,0.00
2,STN001,9,A,5,1,18,0.0,0,0.00
3,STN001,12,A,5,1,21,0.0,0,0.00
4,STN001,15,A,5,2,0,0.0,0,0.00
...,...,...,...,...,...,...,...,...,...
1457247,STN020,228,C,10,10,9,0.5,3,0.20
1457248,STN020,231,C,10,10,12,0.0,0,0.31
1457249,STN020,234,C,10,10,15,1.9,4,0.31
1457250,STN020,237,C,10,10,18,1.9,4,0.22
1457251,STN020,240,C,10,10,21,1.8,4,0.22

In [13]:
df[(df["rainfall_train.stn4contest"] == 'STN001') &
   	(df["rainfall_train.ef_year"] == 'A') &	
    (df["rainfall_train.ef_month"] == 8) & 
    (df["rainfall_train.ef_day"] == 1) &
    (df["rainfall_train.ef_hour"] == 15)
       ]

,rainfall_train.stn4contest,rainfall_train.dh,rainfall_train.ef_year,rainfall_train.ef_month,rainfall_train.ef_day,rainfall_train.ef_hour,rainfall_train.vv,rainfall_train.class_interval,expected
13275,STN001,234,A,8,1,15,21.3,8,3.12
13351,STN001,222,A,8,1,15,21.3,8,3.08
13427,STN001,210,A,8,1,15,21.3,8,3.08
13503,STN001,198,A,8,1,15,21.3,8,3.85
13579,STN001,186,A,8,1,15,21.3,8,4.05
13655,STN001,174,A,8,1,15,21.3,8,4.36
13731,STN001,162,A,8,1,15,21.3,8,4.18
13807,STN001,150,A,8,1,15,21.3,8,3.76
13883,STN001,138,A,8,1,15,21.3,8,3.79
13959,STN001,126,A,8,1,15,21.3,8,3.97
14035,STN001,114,A,8,1,15,21.3,8,3.98
14111,STN001,102,A,8,1,15,21.3,8,2.35
14187,STN001,90,A,8,1,15,21.3,8,1.80
14263,STN001,78,A,8,1,15,21.3,8,2.39
14339,STN001,66,A,8,1,15,21.3,8,3.32
14415,STN001,54,A,8,1,15,21.3,8,3.57
14491,STN001,42,A,8,1,15,21.3,8,3.07
14567,STN001,30,A,8,1,15,21.3,8,5.02
14643,STN001,18,A,8,1,15,21.3,8,5.49
14719,STN001,6,A,8,1,15,21.3,8,5.92

In [15]:

df = preprocessing_pivoting(df)
df

index,rainfall_train.stn4contest,rainfall_train.ef_year,rainfall_train.ef_month,rainfall_train.ef_day,rainfall_train.ef_hour,rainfall_train.vv,rainfall_train.class_interval,0,1,2,...,11,12,13,14,15,16,17,18,19,20
0,STN001,A,5,1,12,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00
1,STN001,A,5,1,15,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00
2,STN001,A,5,1,18,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00
3,STN001,A,5,1,21,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00
4,STN001,A,5,2,0,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77518,STN020,C,10,10,9,0.5,3,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.20,0.31
77519,STN020,C,10,10,12,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.31,0.00
77520,STN020,C,10,10,15,1.9,4,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.31,0.00
77521,STN020,C,10,10,18,1.9,4,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.22,0.00
77522,STN020,C,10,10,21,1.8,4,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.22

In [16]:
df[(df["rainfall_train.stn4contest"] == 'STN001') &
   	(df["rainfall_train.ef_year"] == 'A') &	
    (df["rainfall_train.ef_month"] == 8) & 
    (df["rainfall_train.ef_day"] == 1) &
    (df["rainfall_train.ef_hour"] == 15)
       ]

index,rainfall_train.stn4contest,rainfall_train.ef_year,rainfall_train.ef_month,rainfall_train.ef_day,rainfall_train.ef_hour,rainfall_train.vv,rainfall_train.class_interval,0,1,2,...,11,12,13,14,15,16,17,18,19,20
732,STN001,A,8,1,15,21.3,8,5.92,5.49,5.02,...,3.79,3.76,4.18,4.36,4.05,3.85,3.08,3.08,3.12,0.0

In [20]:
def my_train_test_split(df):
    X = df.drop(columns=[
        'rainfall_train.stn4contest',
        'rainfall_train.ef_year',
        'rainfall_train.ef_hour',
        'rainfall_train.ef_day',
        'rainfall_train.vv',
        'rainfall_train.class_interval'
    ])
    display(X.columns)
    y = df[['rainfall_train.class_interval']]

    X_train_full, X_test, y_train_full, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    X_train, X_val, y_train, y_val = train_test_split(X_train_full, y_train_full, test_size=0.25, random_state=42) 
    return X_train, y_train, X_val, y_val, X_test, y_test

In [40]:
# H, F, M, C 계산 함수
def calculate_csi_components(df):
    H = ((df['estimated_rank'] != 0) & (df['rainfall_train.class_interval'] != 0) & (df['estimated_rank'] == df['rainfall_train.class_interval'])).sum()
    F = ((df['estimated_rank'] != 0) & (df['estimated_rank'] != df['rainfall_train.class_interval'])).sum()
    M = ((df['estimated_rank'] == 0) & (df['rainfall_train.class_interval'] != 0)).sum()
    C = ((df['estimated_rank'] == 0) & (df['rainfall_train.class_interval'] == 0)).sum()
    return H, F, M, C

# CSI 계산 함수
def calculate_csi(H, F, M):
    return H / (H + F + M) if (H + F + M) > 0 else 0


def score(pred, y_test):
    results_df = pd.DataFrame({'estimated_rank': pred, 'rainfall_train.class_interval': np.array(y_test).ravel()})
        # H, F, M, C 계산
    H, F, M, C = calculate_csi_components(results_df)

    # CSI 계산
    csi_value = calculate_csi(H, F, M)
    print(f"CSI: {csi_value}")
    print(f"H: {H}, F: {F}, M: {M}, C: {C}")

In [21]:
X_train, y_train, X_val, y_val, X_test, y_test = my_train_test_split(df)

Index(['rainfall_train.ef_month',                         0,
                               1,                         2,
                               3,                         4,
                               5,                         6,
                               7,                         8,
                               9,                        10,
                              11,                        12,
                              13,                        14,
                              15,                        16,
                              17,                        18,
                              19,                        20],
      dtype='object', name='index')

In [33]:
catboost = CatBoostClassifier(iterations=100, random_seed=42, silent=True)
lgbm = LGBMClassifier(n_estimators=100, random_state=42)
xgb = XGBClassifier(n_estimators=100, random_state=42)

catboost.fit(X_train, y_train)
lgbm.fit(X_train, y_train)
xgb.fit(X_train, y_train)

catboost_val_pred = catboost.predict(X_val)
lgbm_val_pred = lgbm.predict(X_val)
xgb_val_pred = xgb.predict(X_val)

[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001638 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 5362
[LightGBM] [Info] Number of data points in the train set: 46513, number of used features: 22
[LightGBM] [Info] Start training from score -0.167515
[LightGBM] [Info] Start training from score -4.192130
[LightGBM] [Info] Start training from score -3.758152
[LightGBM] [Info] Start training from score -3.822875
[LightGBM] [Info] Start training from score -3.766481
[LightGBM] [Info] Start training from score -3.568942
[LightGBM] [Info] Start training from score -3.990555
[LightGBM] [Info] Start training from score -4.262852
[LightGBM] [Info] Start training from score -5.202310
[LightGBM] [Info] Start training from score -5.395629

In [42]:
pd.Series(catboost_val_pred.flatten()).value_counts()
score(catboost_val_pred.flatten(), y_val)

CSI: 0.11313444401394808
H: 292, F: 995, M: 1294, C: 12924

In [43]:
pd.Series(lgbm_val_pred.flatten()).value_counts()
score(lgbm_val_pred.flatten(), y_val)

CSI: 0.11693861693861694
H: 301, F: 984, M: 1289, C: 12931

In [44]:
pd.Series(xgb_val_pred.flatten()).value_counts()
score(xgb_val_pred.flatten(), y_val)

CSI: 0.12296983758700696
H: 318, F: 1007, M: 1261, C: 12919

In [51]:
import numpy as np
import pandas as pd
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.utils import to_categorical
from sklearn.preprocessing import MinMaxScaler
from catboost import CatBoostClassifier
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Assuming y_train, y_val, y_test are in integer form
num_classes = len(np.unique(y_train))

# One-hot encode the labels for LSTM
y_train_cat = to_categorical(y_train, num_classes=num_classes)
y_val_cat = to_categorical(y_val, num_classes=num_classes)
y_test_cat = to_categorical(y_test, num_classes=num_classes)

# LSTM을 위한 스케일링
scaler = MinMaxScaler(feature_range=(0, 1))

# 'rainfall_train.ef_month' 컬럼을 제외한 나머지 컬럼 사용
X_train_features = X_train.iloc[:, 1:].values
X_val_features = X_val.iloc[:, 1:].values
X_test_features = X_test.iloc[:, 1:].values

# X_train, X_val, X_test에 대해 정규화 진행
X_train_scaled = scaler.fit_transform(X_train_features)
X_val_scaled = scaler.transform(X_val_features)
X_test_scaled = scaler.transform(X_test_features)

# LSTM 입력 형식으로 변환
timesteps = X_train_scaled.shape[1]

# 3차원 배열로 변환
X_train_lstm = X_train_scaled.reshape((X_train_scaled.shape[0], timesteps, 1))
X_val_lstm = X_val_scaled.reshape((X_val_scaled.shape[0], timesteps, 1))
X_test_lstm = X_test_scaled.reshape((X_test_scaled.shape[0], timesteps, 1))

# LSTM 모델 구성
lstm_model = Sequential()
lstm_model.add(LSTM(units=50, return_sequences=True, input_shape=(timesteps, 1)))
lstm_model.add(LSTM(units=50))
lstm_model.add(Dense(num_classes, activation='softmax'))  # 다중 클래스 분류를 위해 softmax 활성화 함수 사용

# Adam 옵티마이저 사용
optimizer = Adam(learning_rate=0.001)

lstm_model.compile(optimizer=optimizer, loss='categorical_crossentropy', metrics=['accuracy'])

# 모델 훈련
lstm_model.fit(X_train_lstm, y_train_cat, epochs=100, batch_size=32, validation_data=(X_val_lstm, y_val_cat))

# LSTM 예측 (클래스 레이블)
lstm_val_pred_proba = lstm_model.predict(X_val_lstm)
lstm_val_pred = np.argmax(lstm_val_pred_proba, axis=1)

Epoch 1/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8402 - loss: 0.7273 - val_accuracy: 0.8494 - val_loss: 0.5520
Epoch 2/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8501 - loss: 0.5566 - val_accuracy: 0.8500 - val_loss: 0.5456
Epoch 3/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8528 - loss: 0.5446 - val_accuracy: 0.8490 - val_loss: 0.5424
Epoch 4/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8532 - loss: 0.5402 - val_accuracy: 0.8531 - val_loss: 0.5301
Epoch 5/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8519 - loss: 0.5369 - val_accuracy: 0.8544 - val_loss: 0.5176
Epoch 6/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8581 - loss: 0.5115 - val_accuracy: 0.8550 - val_loss: 0.5097
Epoch 7/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8545 - loss: 0.5123 - val_accuracy: 0.8542 - val_loss: 0.5057
Epoch 8/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8572 - loss: 0.5043 - val_accuracy: 0.8540 - val_loss: 0.5031
Epoch 9/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8551 - loss: 0.5076 - val_accuracy: 0.8494 - val_loss: 0.5108
Epoch 10/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8548 - loss: 0.5017 - val_accuracy: 0.8550 - val_loss: 0.5004
Epoch 11/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8553 - loss: 0.5018 - val_accuracy: 0.8546 - val_loss: 0.4968
Epoch 12/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8585 - loss: 0.4913 - val_accuracy: 0.8537 - val_loss: 0.4970
Epoch 13/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8534 - loss: 0.5027 - val_accuracy: 0.8553 - val_loss: 0.4985
Epoch 14/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8576 - loss: 0.4951 - val_accuracy: 0.8553 - val_loss: 0.4935
Epoch 15/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8556 - loss: 0.4967 - val_accuracy: 0.8548 - val_loss: 0.4919
Epoch 16/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8561 - loss: 0.4947 - val_accuracy: 0.8540 - val_loss: 0.4919
Epoch 17/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8577 - loss: 0.4906 - val_accuracy: 0.8555 - val_loss: 0.4906
Epoch 18/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8551 - loss: 0.4937 - val_accuracy: 0.8550 - val_loss: 0.4891
Epoch 19/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8573 - loss: 0.4937 - val_accuracy: 0.8551 - val_loss: 0.4889
Epoch 20/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8570 - loss: 0.4901 - val_accuracy: 0.8555 - val_loss: 0.4887
Epoch 21/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8600 - loss: 0.4841 - val_accuracy: 0.8546 - val_loss: 0.4914
Epoch 22/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8576 - loss: 0.4873 - val_accuracy: 0.8555 - val_loss: 0.4857
Epoch 23/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8583 - loss: 0.4812 - val_accuracy: 0.8557 - val_loss: 0.4870
Epoch 24/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8581 - loss: 0.4847 - val_accuracy: 0.8547 - val_loss: 0.4847
Epoch 25/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8583 - loss: 0.4792 - val_accuracy: 0.8544 - val_loss: 0.4871
Epoch 26/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8565 - loss: 0.4881 - val_accuracy: 0.8562 - val_loss: 0.4902
Epoch 27/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8594 - loss: 0.4786 - val_accuracy: 0.8553 - val_loss: 0.4856
Epoch 28/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8578 - loss: 0.4856 - val_accuracy: 0.8558 - val_loss: 0.4839
Epoch 29/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8564 - loss: 0.4880 - val_accuracy: 0.8563 - val_loss: 0.4843
Epoch 30/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8575 - loss: 0.4812 - val_accuracy: 0.8548 - val_loss: 0.4882
Epoch 31/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8568 - loss: 0.4789 - val_accuracy: 0.8550 - val_loss: 0.4858
Epoch 32/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8590 - loss: 0.4773 - val_accuracy: 0.8553 - val_loss: 0.4838
Epoch 33/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8564 - loss: 0.4867 - val_accuracy: 0.8567 - val_loss: 0.4824
Epoch 34/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8568 - loss: 0.4842 - val_accuracy: 0.8566 - val_loss: 0.4818
Epoch 35/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8601 - loss: 0.4707 - val_accuracy: 0.8556 - val_loss: 0.4838
Epoch 36/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8558 - loss: 0.4891 - val_accuracy: 0.8562 - val_loss: 0.4812
Epoch 37/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8589 - loss: 0.4723 - val_accuracy: 0.8553 - val_loss: 0.4827
Epoch 38/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 6ms/step - accuracy: 0.8578 - loss: 0.4756 - val_accuracy: 0.8565 - val_loss: 0.4813
Epoch 39/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 6ms/step - accuracy: 0.8579 - loss: 0.4778 - val_accuracy: 0.8559 - val_loss: 0.4823
Epoch 40/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8606 - loss: 0.4743 - val_accuracy: 0.8557 - val_loss: 0.4858
Epoch 41/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8555 - loss: 0.4800 - val_accuracy: 0.8553 - val_loss: 0.4834
Epoch 42/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 6ms/step - accuracy: 0.8610 - loss: 0.4674 - val_accuracy: 0.8560 - val_loss: 0.4822
Epoch 43/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8592 - loss: 0.4733 - val_accuracy: 0.8563 - val_loss: 0.4814
Epoch 44/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8595 - loss: 0.4678 - val_accuracy: 0.8559 - val_loss: 0.4813
Epoch 45/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8611 - loss: 0.4687 - val_accuracy: 0.8559 - val_loss: 0.4817
Epoch 46/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8575 - loss: 0.4746 - val_accuracy: 0.8548 - val_loss: 0.4820
Epoch 47/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8576 - loss: 0.4726 - val_accuracy: 0.8566 - val_loss: 0.4798
Epoch 48/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8625 - loss: 0.4632 - val_accuracy: 0.8561 - val_loss: 0.4820
Epoch 49/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8593 - loss: 0.4717 - val_accuracy: 0.8564 - val_loss: 0.4792
Epoch 50/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8585 - loss: 0.4733 - val_accuracy: 0.8556 - val_loss: 0.4809
Epoch 51/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8611 - loss: 0.4635 - val_accuracy: 0.8558 - val_loss: 0.4792
Epoch 52/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8597 - loss: 0.4695 - val_accuracy: 0.8557 - val_loss: 0.4787
Epoch 53/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8545 - loss: 0.4788 - val_accuracy: 0.8546 - val_loss: 0.4830
Epoch 54/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8568 - loss: 0.4735 - val_accuracy: 0.8540 - val_loss: 0.4832
Epoch 55/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8602 - loss: 0.4644 - val_accuracy: 0.8563 - val_loss: 0.4798
Epoch 56/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8587 - loss: 0.4728 - val_accuracy: 0.8539 - val_loss: 0.4864
Epoch 57/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8589 - loss: 0.4679 - val_accuracy: 0.8542 - val_loss: 0.4825
Epoch 58/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8611 - loss: 0.4620 - val_accuracy: 0.8550 - val_loss: 0.4804
Epoch 59/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8602 - loss: 0.4597 - val_accuracy: 0.8558 - val_loss: 0.4816
Epoch 60/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8591 - loss: 0.4680 - val_accuracy: 0.8553 - val_loss: 0.4837
Epoch 61/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8625 - loss: 0.4549 - val_accuracy: 0.8560 - val_loss: 0.4826
Epoch 62/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8604 - loss: 0.4635 - val_accuracy: 0.8558 - val_loss: 0.4818
Epoch 63/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8587 - loss: 0.4628 - val_accuracy: 0.8550 - val_loss: 0.4797
Epoch 64/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8616 - loss: 0.4516 - val_accuracy: 0.8526 - val_loss: 0.4926
Epoch 65/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8611 - loss: 0.4633 - val_accuracy: 0.8549 - val_loss: 0.4851
Epoch 66/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8612 - loss: 0.4593 - val_accuracy: 0.8560 - val_loss: 0.4845
Epoch 67/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8598 - loss: 0.4609 - val_accuracy: 0.8567 - val_loss: 0.4839
Epoch 68/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8599 - loss: 0.4593 - val_accuracy: 0.8558 - val_loss: 0.4837
Epoch 69/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8638 - loss: 0.4510 - val_accuracy: 0.8549 - val_loss: 0.4845
Epoch 70/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8590 - loss: 0.4621 - val_accuracy: 0.8546 - val_loss: 0.4834
Epoch 71/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8594 - loss: 0.4610 - val_accuracy: 0.8555 - val_loss: 0.4857
Epoch 72/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8621 - loss: 0.4508 - val_accuracy: 0.8551 - val_loss: 0.4846
Epoch 73/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8622 - loss: 0.4533 - val_accuracy: 0.8540 - val_loss: 0.4878
Epoch 74/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8627 - loss: 0.4524 - val_accuracy: 0.8558 - val_loss: 0.4843
Epoch 75/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8629 - loss: 0.4511 - val_accuracy: 0.8547 - val_loss: 0.4869
Epoch 76/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8612 - loss: 0.4563 - val_accuracy: 0.8549 - val_loss: 0.4876
Epoch 77/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8648 - loss: 0.4472 - val_accuracy: 0.8557 - val_loss: 0.4855
Epoch 78/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8604 - loss: 0.4551 - val_accuracy: 0.8559 - val_loss: 0.4883
Epoch 79/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8624 - loss: 0.4512 - val_accuracy: 0.8550 - val_loss: 0.4887
Epoch 80/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8621 - loss: 0.4494 - val_accuracy: 0.8548 - val_loss: 0.4864
Epoch 81/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8633 - loss: 0.4484 - val_accuracy: 0.8551 - val_loss: 0.4865
Epoch 82/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8662 - loss: 0.4404 - val_accuracy: 0.8543 - val_loss: 0.4901
Epoch 83/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8634 - loss: 0.4476 - val_accuracy: 0.8539 - val_loss: 0.4878
Epoch 84/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8619 - loss: 0.4504 - val_accuracy: 0.8545 - val_loss: 0.4906
Epoch 85/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8634 - loss: 0.4408 - val_accuracy: 0.8539 - val_loss: 0.4888
Epoch 86/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8620 - loss: 0.4498 - val_accuracy: 0.8548 - val_loss: 0.4921
Epoch 87/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8589 - loss: 0.4547 - val_accuracy: 0.8539 - val_loss: 0.4923
Epoch 88/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8615 - loss: 0.4467 - val_accuracy: 0.8539 - val_loss: 0.4933
Epoch 89/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8673 - loss: 0.4354 - val_accuracy: 0.8548 - val_loss: 0.4953
Epoch 90/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8609 - loss: 0.4505 - val_accuracy: 0.8546 - val_loss: 0.4939
Epoch 91/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8636 - loss: 0.4419 - val_accuracy: 0.8542 - val_loss: 0.4911
Epoch 92/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8637 - loss: 0.4400 - val_accuracy: 0.8536 - val_loss: 0.4966
Epoch 93/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8624 - loss: 0.4418 - val_accuracy: 0.8540 - val_loss: 0.4954
Epoch 94/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8636 - loss: 0.4360 - val_accuracy: 0.8557 - val_loss: 0.4935
Epoch 95/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8650 - loss: 0.4334 - val_accuracy: 0.8535 - val_loss: 0.4937
Epoch 96/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8684 - loss: 0.4250 - val_accuracy: 0.8528 - val_loss: 0.4931
Epoch 97/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8652 - loss: 0.4343 - val_accuracy: 0.8539 - val_loss: 0.4962
Epoch 98/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8669 - loss: 0.4264 - val_accuracy: 0.8524 - val_loss: 0.5000
Epoch 99/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8616 - loss: 0.4438 - val_accuracy: 0.8530 - val_loss: 0.4992
Epoch 100/100
1454/1454 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - accuracy: 0.8659 - loss: 0.4303 - val_accuracy: 0.8522 - val_loss: 0.5009
485/485 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step

In [67]:
display(pd.Series(lstm_val_pred.flatten()).value_counts())
score(lstm_val_pred.flatten(), y_val)

0    14259
5      541
6      262
7      238
4       83
2       48
3       40
9       17
1        9
8        8
Name: count, dtype: int64

CSI: 0.11265969802555169
H: 291, F: 955, M: 1337, C: 12922

In [64]:
from sklearn.model_selection import KFold

In [70]:
catboost_val_pred = catboost_val_pred.ravel()

In [80]:
# Create a DataFrame with predictions from individual models
stacked_predictions = np.column_stack((catboost_val_pred, lgbm_val_pred, xgb_val_pred, lstm_val_pred))
stacked_df = pd.DataFrame(stacked_predictions, columns=['catboost', 'lgbm', 'xgb', 'lstm'])

# Split the stacked predictions into training and validation sets
X_train_stack, X_val_stack, y_train_stack, y_val_stack = train_test_split(stacked_df, y_val, test_size=0.2, random_state=42)

# Initialize the meta-model (e.g., RandomForestClassifier)
meta_model = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the meta-model
meta_model.fit(X_train_stack, y_train_stack)

# Predict on the validation set
stacked_val_pred = meta_model.predict(X_val_stack)

In [81]:
pd.Series(stacked_val_pred).value_counts()

3    26
1    26
5    24
9    23
8    20
6    19
4    18
0    15
2    15
7    14
Name: count, dtype: int64

In [75]:
display(pd.Series(stacked_test_pred.flatten()).value_counts())
score(stacked_test_pred.flatten(), y_val)

0    14529
5      617
6      344
7       15
Name: count, dtype: int64

ValueError: All arrays must be of the same length